#eqltrl{
    width: 0;
    border-bottom: 100px solid #000;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
}
img {
    width: 200px;
    background-color: lightgoldenrodyellow;
    
}