#eqltrl{
    width: 0;
    border-bottom: 100px solid #000;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
}
#isosceles{
    width: 0;
    border-bottom: 100px solid #000;
    border-right: 100px solid transparent;
    border-left: 200px solid transparent;
}
#scalene{
    width: 0;
    border-bottom: 300px solid #000;
    border-right: 400px solid transparent;
    border-left: 200px solid transparent;
}

img {
    width: 200px;
    background-color: lightgoldenrodyellow;
    
}